<%- include("partials/header.ejs") -%>
    <div>
        *<!--  -->*
        <h1 class="text-center">
            ToDo Page
        </h1>
        <form action="/todos" method="POST">
        <label for="todo" class="form-label">toDo</label>
        <input type="text" class="form-control" id="todo" name="todo">
        <button type="submit">Add ToDo</button>
        </form>
        <p>List of ToDos</p>
        <div>
            <ul>          
              <% for (let i=0; i < listOfTodos.length ; i++) { %>
                <li style="list-style: none;">
                     <form>
                        <input class="todocheck" data-completed="<%= todostate[i] %>" type="checkbox" value="<%=arrayOfIds[i] %>"> 
                        <p style="display: inline;"  class="todo"><%= listOfTodos[i] %></p>
                        <button class="editButton" type="submit"  >edit</button>
                        <button class="deleteButton" type="submit" >delete</button>
                    </form> 
                <% } %>   
                </li> 
            </ul>

        </div>

        <form action="/logout" method="GET">
            <button>Logout</button>
        </form>
        
    </div>
    <%- include("partials/footer.ejs") -%>
<script>
  
    window.addEventListener("load", (event) => {
        let checkBox = document.getElementsByClassName("todocheck");
        let deleteButton = document.getElementsByClassName("deleteButton")
        let todo =  document.getElementsByClassName("todo")
        let editButton = document.getElementsByClassName("editButton")
        // let ids = []
        // for(let i = 0; i < checkBox.length; i++){
        //     ids.push(checkBox[i].value)       
        // }
        event.preventDefault();
        
        for(let i = 0; i < editButton.length; i++){
            editButton[i].addEventListener("click", e =>{
                e.preventDefault()

                let input = document.createElement("input")
                let newButton = document.createElement("button")

                newButton.id = "save"
                newButton.innerHTML = "save"

                input.placeholder = todo[i].innerHTML;
                todo[i].innerHTML = ""
                todo[i].append(input)
                todo[i].append(newButton)
                let clonedButton = editButton[i]
                editButton[i].remove()
                
                let saveButton = document.getElementById("save")
                saveButton.addEventListener("click", e =>{
                    e.preventDefault()
                    let newEditButton = document.createElement("button");
                    newEditButton.classList.add("editButton")
                    newEditButton.innerHTML = "edit"
                    todo[i].innerHTML = input.value
                    todo[i].append(newEditButton)

            

                fetch("/todos", {
                        method: "PUT",
                        body: JSON.stringify({
                            todoId: checkBox[i].value,
                            text: input.value
                        }),
                        headers: {
                            "Content-type": "application/json; charset=UTF-8"
                        }
                    })
                        .then((response) => response.json())
                        .then((json) => console.log(json));                   
                    
                })
            })
        }
        
        for(let i = 0; i < checkBox.length;i++){
            if(checkBox[i].getAttribute('data-completed') === "true"){
               checkBox[i].checked = true;
               todo[i].classList.add("strike")

            }
        }

        for(let i = 0; i < deleteButton.length; i++){
            deleteButton[i].addEventListener("click", _ =>{
                
               fetch("/todos",{
                    method: "DELETE",
                    body: JSON.stringify({
                       todoId: checkBox[i].value,
                    }),
                    headers: {
                        "Content-type": "application/json; charset=UTF-8"
                    }    
                })
                  .then((response) => response.json())
                    .then((json) => console.log(json));
            })
        }

        for(let i = 0; i < checkBox.length; i++){
           checkBox[i].addEventListener("click", _=>{
              //todo[i].style.textDecoration = lineThrough

              if(checkBox[i].getAttribute("data-completed") === 'false'){
                todo[i].classList.add("strike")
                checkBox[i].checked = true
                checkBox[i].setAttribute("data-completed", "true")
              } else if (checkBox[i].getAttribute("data-completed") === 'true'){
                todo[i].classList.remove("strike")
                checkBox[i].setAttribute("data-completed", "false")
              }

               //console.log(checkBox[i].dataset.completed)

               fetch("/todos", {
                   method: "PATCH",
                   body: JSON.stringify({
                       todoId: checkBox[i].value,
                       completed: checkBox[i].dataset.completed
                   }),
                   headers: {
                       "Content-type": "application/json; charset=UTF-8"
                   }
               })
                   .then((response) => response.json())
                   .then((json) => console.log(json));


           }) 
        }
    });
</script>

<style>
 .strike {
  text-decoration: line-through;
}
</style>